repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.7
    hooks:
      - id: ruff
        args: [--fix]
        exclude: ^tutorial\.ipynb$
      - id: ruff-format
        exclude: ^tutorial\.ipynb$
